<h1>List of Restaurants</h1>

<ul>
<% @restaurants.each do |restaurant| %>
  <li> Name: <%= link_to restaurant.name, restaurant_path(restaurant)%> </li>
<% end %>
</ul>

<p><%= link_to 'Add a new Restaurant', new_restaurant_path %></p>
